<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <footer th:fragment="footer">
        <div class="footer-left">
            <div class="logo-container">
                <img src="https://cdn6.f-cdn.com/contestentries/565076/14898096/5772c36b99629_thumb900.jpg" alt="logo img-fluid" style="width: 100px;" />
            </div>
            <div class="icons-container">
                <a href="https://twitter.com/asliddin0007" target="_blank" class="twitter"><i
                        class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/uzasliddin/" target="_blank" class="facebook"><i
                        class="bx bxl-facebook"></i></a>
                <a href="https://github.com/uz-java/" target="_blank" class="github"><i
                        class="bx bxl-github"></i></a>
                <a href="https://www.linkedin.com/in/asliddintojaliyev/" target="_blank" class="linkedin"><i
                        class="bx bxl-linkedin"></i></a>
            </div>
            <p>&copy; All rights reserved | MST Ltd. 2021.</p>
        </div>
        <div class="footer-right">
            <h4>Customer Support</h4>
            <p>Phone: <span>+998904096118</span></p>
            <p>Email: <span>asliddintojaliyev88@gmail.com</span></p>
            <p>Address: <span>Tashkent, Uzbekistan</span></p>
            <p><cite>Thank you for your questions!</cite></p>
        </div>
    </footer>
</html>
