<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MST - List of Products</title>
    <!-- Bootstrap -->
    <link
            rel="stylesheet"
            type="text/css"
            href="/webjars/bootstrap/css/bootstrap.min.css"
    />
    <!-- Favicon -->
    <link rel="icon" href="https://cdn6.f-cdn.com/contestentries/565076/14898096/5772c36b99629_thumb900.jpg"
          type="image/jpg"/>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
            rel="stylesheet"
    />
    <!-- CSS -->
    <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/navigation.css}" href="/css/navigation.css" rel="stylesheet" type="text/css"/>
</head>
<body>


<div class="container">
    <div class="row register-row">
        <div class="col-12 px-5">
            <img
                    src="https://cdn6.f-cdn.com/contestentries/565076/14898096/5772c36b99629_thumb900.jpg"
                    class="img-fluid"
                    alt=""
                    height="50"
                    width="100"
            />
            <h4 class="fw-bold mb-4">Create new product</h4>
        </div>
        <form action="/admin/product/new" th:object="${productForm}" method="post" class="col-12">
            <div class="form-group col-md-6 my-2 p-0">
                <label for="name">name</label>
                <input
                        th:field="*{name}"
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder="Product name"
                        required
                />
            </div>

            <div class="form-group col-md-6 my-2 p-0">
                <label for="description">description</label>
                <input
                        th:field="*{description}"
                        type="text"
                        class="form-control"
                        id="description"
                        placeholder="user123"
                />
            </div>

            <div class="form-row">
                <div class="form-group col-12 col-md-6 my-2">
                    <label for="price">price</label>
                    <input
                            th:field="*{price}"
                            type="number"
                            class="form-control"
                            id="price"
                            placeholder="*****"
                    />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12 col-md-6 my-2">
                    <label for="unit_in_stock">unit_in_stock Name</label>
                    <input
                            th:field="*{unit_in_stock}"
                            type="number"
                            class="form-control"
                            id="unit_in_stock"
                            placeholder="Name"
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-row">
                    <div class="form-group col-12 col-md-6 my-2">
                        <label for="unit_in_stock">category</label>
                        <select th:field="*{category}" style="padding: .5rem 2rem;">
                            <option th:each="category : ${categories}" th:value="${category.getId()}"
                                    th:text="${category.getName()}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="col-12 col-md-6">
                    <button
                            type="submit"
                            class="btn btn-dark btn-login mt-3 mb-5"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script src="https://kit.fontawesome.com/386023a665.js" crossorigin="anonymous"></script>
</body>
</html>